---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Sobre Mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hola, soy Walter, un desarrollador fullstack de Ecuador.
      <br />
      Las herramientas que me gustan utiliazar son:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Nestjs</li>
        <li>Astro</li>
        <li>MongoDB</li>
        <li>Python</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      A parte de ser programador, tengo una gran aficion por la cocina, el anime
      y tambien los videojuegos. Me gusta aprender de todo un poco y para poder
      crecer.
    </p>
    <p class="text-sm font-light">
      Si bien tengo algunas herramientas preferidas, siempre elijo la mejor para
      el trabajo, incluso si no está en mi lista habitual. Mi objetivo es
      encontrar la mejor herramienta y solución para cada proyecto.
    </p>
  </div>
</Card>
