---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Ahora</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Trabando en Technisys como developer fullstack</p>
</Card>
